<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h3 class="card-title">Warzone Tournament Rules</h3>
          <p class="category">Updated: Wednesday 29/10/2020</p>
        </div>
        <div class="card-body center-piece">
          <h4 class="text-center">
            Join your captain's lobby and be ready to drop into Verdansk after
            20:00
          </h4>
          <h4 class="text-center">This week's playlist: <b>BR Trio's</b></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h3>Format</h3>
          <ul>
            <li>
              Teams play 5 games - all 5 games count towards your final score
            </li>
            <li>Tournaments will take place every Thursday</li>
            <li>Entry fee - <b>Free</b></li>
            <li>Tournament starts at 20:00 - please drop shortly after</li>
          </ul>
          <h3>Points</h3>
          <ul>
            <li>Points are earned through final placement and team kills</li>
            <li>
              1 Point per Placement from 30th position – 1st position. Example:
              25th Place Finish returns 6 points
            </li>
            <li>
              Top 5 Placement Bonus awarded:
              <ul>
                <li>1st = +15</li>
                <li>2nd = +12</li>
                <li>3rd = +9</li>
                <li>4th = +6</li>
                <li>5th = +3</li>
              </ul>
            </li>
            <li>
              Points per kill (Team cumulative)
              <ul>
                <li>1-5 Kills = 1pt per kill</li>
                <li>6-10 Kills = 2pts per kill</li>
                <li>11-15 Kills = 3pts per kill</li>
                <li>16+ Kills = 4pts per kill</li>
              </ul>
            </li>
            <li>
              In the event scores are tied. Winner will be decided by total team
              kills. If total kills are tied, winner will be determined by
              lowest accumulative placement over the 5 games.
            </li>
            <li>
              Team and Individual scores can be tracked via the live table and
              team scoresheets. Please also record your stats by taking a photo
              as a backup and share via captain’s chat on WhatsApp. Please send
              the link to all your team members so they can view the live scores
              and standings in the tournament. This will show individual kills,
              overall kills, placement position and overall points per game.
            </li>
          </ul>
          <h3>Tracking matches</h3>
          <ul>
            <li>
              The match you play needs to finish before the data is available to
              the app, so it won't show straight away depending your placement.
            </li>
            <li>
              If there's a discrepency, first check your match directly on our
              source: http://cod.tracker.gg
            </li>
            <li>
              In the very unlikely event that your match isn't recorded on the
              official Call of Duty app or Tracker.gg (above) then you will have
              to play an extra game. Unfortunately if the game servers do not
              record your match there's not much we can do about this.
            </li>
          </ul>
          <h3>Rules</h3>
          <ul>
            <li>
              Each team needs a team captain. This captain will have their
              matches tracked during the tournament
            </li>
            <li>Captain's must host their squad</li>
            <li>
              Captains need to send a picture of their final scoreboard each
              game to the WhatsApp group. This picture MUST include the position
              your team placed and every players kills. This will be 2 pictures
              as the placement is shown before the scoreboard.
            </li>
            <li>Cross-play must be enabled.</li>
            <li>
              You cannot restart your game if you come across a hacker. Not
              every team has a way of capturing footage to prove they have been
              killed by a hacker so this cannot be monitored properly..
            </li>
            <li>
              A team may restart the match if they are experiencing poor
              connection issues when they are in the warm-up lobby, you MUST
              notify the Captains chat if you restart. As soon as your squad is
              in the plane ready to drop you cannot leave and this will count as
              one of your 5 games/scores.
            </li>
            <li>
              A team may also restart the match if a player loses connection
              during the game. If you do so, please can the player who got
              disconnected send a picture of any error message they got showing
              the disconnection. Or if one of the players still in the game can
              quickly take a picture of the left-hand side where it pops up
              saying for example ‘AdamSmith123 has timed out’. ​
            </li>
            <li>
              You may join a tournament with less players, but you must still
              play on the same playlist as everyone else with it set to ‘don’t
              fill’.
            </li>
            <li>
              If any team is found to be cheating, you will be disqualified and
              neither yourself nor anyone in your team will be allowed to enter
              the tournament again.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
