<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h3 class="card-title">Week 2</h3>
          <p class="category">
            Start Time:
            {{ trackerService.config?.startTime | date: "d MMM y, h:mm:ss a" }}
          </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Team</th>
                  <th class="text-center">Total Kills</th>
                  <th class="text-center">Games Played</th>
                  <th class="text-center">Points</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let entry of trackerService.leaderboard$ | async"
                >
                  <tr>
                    <td>{{ entry.team }}</td>
                    <td class="text-center">{{ entry.totalKills }}</td>
                    <td class="text-center">{{ entry.gamesPlayed }}</td>
                    <td class="text-center">{{ entry.points }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
