<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h3 class="card-title">
            Week {{ trackerService.config?.weekNumber || 0 }} Leaderboard
          </h3>
          <p class="category" *ngIf="!!trackerService.config?.startTime">
            Start Time:
            {{ trackerService.config?.startTime | date: "d MMM y, h:mm:ss a" }}
          </p>
          <p class="category" *ngIf="!trackerService.config?.startTime">
            Last 5 games
          </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Team</th>
                  <th class="text-center">Total Kills</th>
                  <th class="text-center">Games Played</th>
                  <th class="text-center">Points</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let entry of trackerService.leaderboard$ | async"
                >
                  <tr [class.winner-border]="entry.winner">
                    <td>
                      <span *ngIf="entry.winner"
                        >&nbsp;&nbsp; <i class="fas fa-crown crown"></i>&nbsp;
                      </span>
                      {{ entry.team }}
                    </td>
                    <td class="text-center">{{ entry.totalKills }}</td>
                    <td class="text-center">
                      <ng-container
                        *ngFor="let entry of fakeArray(entry.gamesPlayed)"
                      >
                        <i class="fas fa-check-circle gamePlayedTick"></i>
                      </ng-container>
                      <ng-container
                        *ngFor="
                          let entry of fakeArray(
                            trackerService.config.numberOfGames -
                              entry.gamesPlayed
                          )
                        "
                      >
                        <i class="far fa-circle"></i>
                      </ng-container>
                    </td>
                    <td class="text-center">{{ entry.points }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="trackerService.awards">
    <div class="col-sm-6 col-md-4" *ngFor="let award of trackerService.awards">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{ award.awardName }}</h4>
          <p _ngcontent-yyh-c145="" class="category">{{ award.description }}</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img class="perk" src="assets/img/perks/{{ award.icon }}.png" />
            </div>
            <div class="col-6">
              <p class="player-name-award">{{ award.playerName }}</p>
              <p class="team-name-award">{{ award.team }}</p>
              <p>{{ award.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h3 class="card-title">Killboard</h3>
          <p class="category">
            Total player kills scoreboard. Players who share a position will be
            sorted based on total damage across all played games.
          </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter" id="">
              <thead class="text-primary">
                <tr>
                  <th>Pos.</th>
                  <th>Player</th>
                  <th class="text-center">Total Kills</th>
                  <th class="text-right">Team</th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let entry of trackerService.killboard$ | async"
                >
                  <tr>
                    <td>{{ entry.pos }}</td>
                    <td>{{ entry.name }}</td>
                    <td class="text-center">{{ entry.kills }}</td>
                    <td class="text-right">{{ entry.team }}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <ng-container *ngIf="(trackerService.killboard$ | async).length == 0">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center">Time to earn your freedom, soldier.</h4>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
