.gamePlayedTick {
  color: #6fa103;
}
.crown {
  color: #cfab29;
}
.winner-border {
  box-shadow: inset 0 0 10px #cfab29;
  border-radius: 5px;
}

.player-name-award {
  font-weight: bold;
  white-space: nowrap;
}
.team-name-award {
  font-size: 0.8em;
  font-style: italic;
}
.perk {
  max-width: 120px;
  img {
    height: 80px;
    width: 80px;
  }
}
.perk-card {
  height: 120px;
}
a {
  color: inherit;
}
.external-link-icon {
  color: #333;
}
