.gamePlayedTick {
  color: #6fa103;
}
.crown {
  color: #cfab29;
}
.winner-border {
  box-shadow: inset 0 0 10px #cfab29;
  border-radius: 5px;
}

.player-name-award {
  font-weight: bold;
  white-space: nowrap;
}
.team-name-award {
  font-size: 0.8em;
  font-style: italic;
}
.perk {
  height: 80px;
  width: 80px;
}
