<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div
        class="card"
        *ngFor="let team of trackerService.teamScoreboard$ | async"
      >
        <div class="card-header">
          <h3 class="card-title">{{ team.captain.teamName }}</h3>
        </div>
        <div class="card-body">
          <div *ngIf="team.scoreboards.length === 0">
            <h4 class="text-center">No Games Played</h4>
          </div>
          <div *ngIf="team.scoreboards.length > 0">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab
                *ngFor="let scoreboard of team.scoreboards; let i = index"
                label="Game {{ team.scoreboards.length - i }}"
              >
                <div class="table-responsive">
                  <div class="metadata d-flex">
                    <h4>
                      Placement: {{ scoreboard.metadata.placementDisplay }}
                    </h4>
                    <h4 class="duration flex-grow-1 text-right">
                      {{
                        scoreboard.metadata.timestamp * 1000 | date: "h:mm a"
                      }}
                    </h4>
                  </div>

                  <table class="table tablesorter" id="">
                    <thead class="text-primary">
                      <tr>
                        <th>Name</th>
                        <th class="text-center">Kills</th>
                        <th class="text-center">Deaths</th>
                        <th class="text-center">K/D</th>
                        <th class="text-center">Damage</th>
                        <th class="text-center">Revives</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let player of scoreboard.players">
                        <tr>
                          <td>
                            <span class="clantag" *ngIf="player.clanTag"
                              >[<span>{{ player.clanTag }}</span
                              >]
                            </span>
                            <span class="playerName"></span>{{ player.name }}
                            <span
                              *ngIf="
                                player.name === team.captain.id.split('#')[0]
                              "
                              ><i class="far fa-flag captain-mark"></i>
                            </span>
                          </td>
                          <td class="text-center">{{ player.kills }}</td>
                          <td class="text-center">{{ player.deaths }}</td>
                          <td class="text-center">
                            {{ player.kd | number: "1.2-2" }}
                          </td>
                          <td class="text-center">{{ player.damage }}</td>
                          <td class="text-center">{{ player.revives }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
