.duration {
  padding-right: 10px;
}
.clantag > span {
  color: #cfab29;
}
.playerName {
  font-weight: bold;
}
.metadata {
  padding-top: 10px;
}
.captain-mark {
  color: #a11003;
  padding-left: 5px;
}
.card {
  min-height: 150px;
}
.matchMetadata {
  padding-top: 10px;
}
