<h1 class="text-center">{{ captain.teamName }}</h1>
<h3 *ngIf="matches.length == 0" class="text-center">No Games Played</h3>
<mat-tab-group>
  <mat-tab
    *ngFor="let match of matches; let i = index"
    label="Game {{ i + 1 }}"
  >
    <div class="col-8 d-inline-block">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>K/D</th>
            <th>Damage</th>
            <th>Revives</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let player of match.players; let j = index">
            <tr>
              <td>
                <span
                  *ngIf="
                    player.attributes.platformUserIdentifier ===
                    captain.teamName
                  "
                  >Captain.
                </span>
                <span>[{{ player.metadata.clanTag }}]</span>
                {{ player.attributes.platformUserIdentifier }}
              </td>
              <td>{{ player.stats.kills.value }}</td>
              <td>{{ player.stats.deaths.value }}</td>
              <td>{{ player.stats.kdRatio.value | number: "1.2-2" }}</td>
              <td>{{ player.stats.damageDone.value }}</td>
              <td>{{ player.stats.objectiveReviver?.value || 0 }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-4 matchStats">
      <h2>
        {{ match.matchMetadata.timestamp * 1000 | date: "dd/MM/yyyy @ h:mma" }}
      </h2>
      <h2>Placement: {{ match.players[0].metadata.placement.displayValue }}</h2>
      <h2>Total Kills: {{ match.matchMetadata.totalKills }}</h2>
    </div>
  </mat-tab>
</mat-tab-group>
